.App-container{
    margin: auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
    background-color: yellowgreen;
    text-align: center;
}

#dvMsg{
    color: red;
    font-weight: bold;
}

button{
    background-color: yellow;
    font-weight: bold;
    width: 150px;
}